include README.md
include SECURITY.md
include LICENSE
include wl
recursive-include LICENSES *
include CHANGES.rst
include MANIFEST.in
include completion/wlc
include wlc/*.py
include wlc/py.typed
graft tests
prune tests/__pycache__
