include README.md
include THREAT_MODEL.md
include SECURITY.md
include LICENSE
include wl
recursive-include LICENSES *
include CHANGES.md
include MANIFEST.in
include completion/wlc
graft tests
prune tests/__pycache__
global-exclude *.swp
