# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Distribution

on: [push, pull_request]

jobs:
  setup:
    name: Build packages
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.14'
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        enable-cache: true
        cache-dependency-glob: ''
        version: 0.9.24
    - name: Install dependencies
      run: uv pip install --system -e .[dev]
    - name: build sdist
      run: uv build
    - name: twine
      run: uvx twine check dist/*
    - name: pydistcheck
      run: uvx pydistcheck --inspect dist/*
    - name: pyroma
      run: uvx pyroma dist/*.tar.gz
    - name: check-wheel-contents
      run: uvx check-wheel-contents dist/*.whl
    - name: check-manifest
      run: uvx check-manifest -v

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        path: dist/*
        name: dist

  release_pypi:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && github.repository == 'WeblateOrg/wlc'
    runs-on: ubuntu-24.04
    name: Publish release to PyPI
    permissions:
      # this permission is mandatory for trusted publishing
      id-token: write
    needs:
    - setup
    steps:
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: 0.9.24
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: dist
        path: dist
    - name: Publish package
      run: uv publish --trusted-publishing always

  release_github:
    runs-on: ubuntu-24.04
    name: Create release on GitHub
    permissions:
      contents: write
    needs:
    - setup
    if: startsWith(github.ref, 'refs/tags/')  && github.repository == 'WeblateOrg/wlc'
    steps:
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: dist
        path: dist
    - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
      with:
        generateReleaseNotes: true
        artifacts: dist/*
permissions:
  contents: read
