name: Distribution

on: [push, pull_request]

jobs:
  setup:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2.1.5
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-setup-${{ hashFiles('**/requirements*.txt') }}
      - name: Setup Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install -r requirements-test.txt
      - name: build
        run: python ./setup.py sdist bdist_wheel
      - name: twine
        run: twine check dist/*
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
