# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        include:
        - os: windows-latest
          python-version: '3.14'
        - os: macos-latest
          python-version: '3.14'
        - os: ubuntu-24.04-arm
          python-version: '3.14'
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      id: setup_python
      with:
        python-version: ${{ matrix.python-version }}
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        cache-suffix: ${{ steps.setup_python.outputs.python-version }}
        version: 0.9.26
    - name: Install pip dependencies
      run: uv sync --all-extras --dev
    - name: Test
      run: uv run py.test --cov=wlc wlc
    - name: Coverage
      run: uv run coverage xml
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        flags: unittests
        name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
permissions:
  contents: read
