# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        include:
        - os: windows-latest
          python-version: '3.14'
        - os: macos-latest
          python-version: '3.14'
        - os: ubuntu-24.04-arm
          python-version: '3.14'
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: pyproject.toml
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install -e ".[test]"
    - name: Test
      run: |
        py.test --cov=wlc wlc
    - name: Coverage
      run: |
        coverage xml
    - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        flags: unittests
        name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
permissions:
  contents: read
